@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap");

$dark-color: #111112;
$light-color: #fafafa;

* {
  font-family: "Rubik", sans-serif !important;
}

.cursor-pointer {
  cursor: pointer;
}
